node_modules
target
.idea
pom.xml*
*.log
*.iml
*/resources/public/js/compiled
doo*.html
*/checkouts
docs/marginalia
re_view/resources
package-lock.json
sample
.cpcache
.DS_Store
.shadow-cljs
.nrepl-port