


@import '../../node_modules/prosemirror-view/style/prosemirror';

@import '../../node_modules/@material/animation/mdc-animation';
@import '../../node_modules/@material/button/mdc-button';
@import '../../node_modules/@material/checkbox/mdc-checkbox';
@import '../../node_modules/@material/drawer/mdc-drawer';
@import '../../node_modules/@material/dialog/mdc-dialog';
//@import '../../node_modules/@material/elevation/mdc-elevation';
@import '../../node_modules/@material/form-field/mdc-form-field';
@import '../../node_modules/@material/list/mdc-list';
@import '../../node_modules/@material/menu/mdc-menu';
@import '../../node_modules/@material/radio/mdc-radio';
@import '../../node_modules/@material/ripple/mdc-ripple';
@import '../../node_modules/@material/select/mdc-select';
@import '../../node_modules/@material/snackbar/mdc-snackbar';
@import '../../node_modules/@material/switch/mdc-switch';
@import '../../node_modules/@material/textfield/mdc-textfield';
@import '../../node_modules/@material/typography/mdc-typography';
@import '../../node_modules/@material/theme/mdc-theme';

@import '../../node_modules/tachyons/css/tachyons';

html, body, #app {
  min-height: 100%;
  margin: 0;
}

blockquote {
  border-left: 3px solid #ddd;
  padding-left: 1rem;
  margin-left: 0;
}
blockquote:after, blockquote:before {
  display: none;
}

@for $i from 1 through 10 {
  .bg-darken-#{$i} {
    background-color: rgba(0,0,0,0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .hover-bg-darken-#{$i}:hover {
    background-color: rgba(0,0,0,0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .b--darken-#{$i} {
    border-color: rgba(0,0,0,0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .hover-o-#{$i * 10}:hover {
    opacity: $i / 10;
  }
}
input, textarea, select, button {
  color: inherit;
}

a {
  color: var(--mdc-theme-primary, darkblue);
}
.mdc-theme--dark a {
  color: white; //var(--mdc-theme-accent, white);
}
.mdc-simple-menu .mdc-list-item.mdc-ripple-upgraded {
  left: 0;
}