$mdc-theme-primary: #23005e; //#230a62;
$mdc-theme-accent: #c51162; //#d50c6f;
$mdc-theme-background: #fff;

@import '../../node_modules/@material/theme/mdc-theme';
@import '../../node_modules/prosemirror-view/style/prosemirror';
@import '../../node_modules/@material/animation/mdc-animation';
@import '../../node_modules/@material/button/mdc-button';
@import '../../node_modules/@material/checkbox/mdc-checkbox';
@import '../../node_modules/@material/drawer/mdc-drawer';
@import '../../node_modules/@material/dialog/mdc-dialog';
//@import '../../node_modules/@material/elevation/mdc-elevation';
@import '../../node_modules/@material/form-field/mdc-form-field';
@import '../../node_modules/@material/list/mdc-list';
@import '../../node_modules/@material/menu/mdc-menu';
@import '../../node_modules/@material/radio/mdc-radio';
@import '../../node_modules/@material/ripple/mdc-ripple';
@import '../../node_modules/@material/select/mdc-select';
@import '../../node_modules/@material/snackbar/mdc-snackbar';
@import '../../node_modules/@material/switch/mdc-switch';
@import '../../node_modules/@material/toolbar/mdc-toolbar';
@import '../../node_modules/@material/textfield/mdc-textfield';
@import '../../node_modules/@material/typography/mdc-typography';
@import '../../node_modules/tachyons/css/tachyons';

.mdc-theme--primary-bg-dark {
  background-color: #080034;
}

html, body, #app {
  min-height: 100%;
  margin: 0;
}

blockquote {
  border-left: 3px solid #ddd;
  padding-left: 1rem;
  margin-left: 0;
}

blockquote:after, blockquote:before {
  display: none;
}

@for $i from 1 through 10 {
  .bg-darken-#{$i} {
    background-color: rgba(0, 0, 0, 0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .hover-bg-darken-#{$i}:hover {
    background-color: rgba(0, 0, 0, 0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .b--darken-#{$i} {
    border-color: rgba(0, 0, 0, 0.025 * $i);
  }
}

@for $i from 1 through 10 {
  .hover-o-#{$i * 10}:hover {
    opacity: $i / 10;
  }
}

input, textarea, select, button {
  color: inherit;
}

a {
  color: inherit; //var(--mdc-theme-primary, darkblue);
}

.mdc-theme--dark a {
  color: white; //var(--mdc-theme-accent, white);
}

.mdc-simple-menu .mdc-list-item.mdc-ripple-upgraded {
  left: 0;
}

.mdc-select {
  margin-bottom: 1px;
  &:focus {
    box-shadow: 0 1px 0 0 var(--mdc-theme-primary, #3f51b5);
    background-color: transparent;
  }
}

.shadow-5 {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.focus-shadow-5-blue:focus {
  box-shadow: 1px 1px 1px 1px rgba(0, 69, 255, 0.3);
}

//
//.text-important {
//  opacity: 87%;
//}

.prosemirror-content {

  table {
    border-collapse: collapse;
    margin: 1em 0;
  }

  td {
    border: 1px solid #ddd;
  }
  pre {
    padding: 0.25rem;
    background: rgba(0, 0, 0, 0.02);
  }

}

table {
  border-collapse: collapse;
  td, th {
    padding: 0.5rem;
  }
  tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.svg-shadow {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
}

.serif {
  font-family: 'Vollkorn', georgia, times, serif;
}

.markdown-copy {
  a {
    opacity: 0.7;
    //text-decoration: none;
    &:hover {
      opacity: 1;
    }
    [href^="http"]:after {
      content: ""
    }
  }
  p, ul, ol, table {
    max-width: 600px;
  }

  h1, h2, h3 {
    font-weight: normal;
  }
  table {
    font-size: 83%;
  }
  table code {
    font-size: 90%;
  }
}

pre {
  background: rgba(0, 0, 0, 0.03);
  padding: 0.75rem;
  font-size: 14px;
  white-space: pre-wrap;
  code {
    font-size: 14px;
  }
}

code {
  font-size: 14px;
}

p, table {
  code {
    background: rgba(0, 0, 0, 0.03);
    padding: 2px 4px;
  }
}

.mdc-theme--dark {
  color: white;
  pre, p code {
    background: rgba(0, 0, 0, 0.2);
  }
  table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.mdc-theme--dark-bg {
  background-color: #444;
}

.elevated-card {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
  border-bottom: 0.25rem solid #eee;
  border-radius: 0.25rem;
  background-color: white;
}

.mdc-theme--dark .elevated-card {
  background-color: #333;
  border-color: #777;
}



