{:paths ["src"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.520"}
         appliedscience/js-interop {:git/url "https://github.com/appliedsciencestudio/js-interop"
                                    :sha "f1cc1a495bfb56c9581d6bf77ee0e2b126936624"}
         net.cgrand/macrovich      {:mvn/version "0.2.1"}}}